<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="button-page.css">
  <link rel="stylesheet" type="text/css" href="form-style.css">
  <title>Document</title>
  <script>
 document.addEventListener("DOMContentLoaded",()=>{
  if(document.getElementById("message"))
  {
   setTimeout(()=>{
  document.getElementById("message").style.display="none"
  },2000)
  }
 
 })
  </script>
</head>
<body>
  {{{body}}}
</body>
</html>