<form action="/" method="post">
<div class="label-style">
<label for="username">Name</label>
</div>
<div class="input-style" >
<input type="text" name="username" placeholder="Full Name" required>
</div>
<div class="input-style" >
<button type="submit">Submit</button>
</div>
</form>
